<div >
    <h1 class="display-4">Controller</h1>    

<p>Контроллер обеспечивает «связь» между пользователем и системой. Контролирует и направляет данные от пользователя к системе и наоборот. Использует модель и представление для реализации необходимого действия.
    </p>
  
</div>
