<div >
    <h1 class="display-4">Model</h1>    

    <p>
        Модель предоставляет данные и методы работы с ними: запросы в базу данных, проверка на корректность. Модель не
        зависит от представления (не знает как данные визуализировать) и контроллера (не имеет точек взаимодействия с
        пользователем), просто предоставляя доступ к данным и управлению ими.
    </p>
    <p>
        Модель строится таким образом, чтобы отвечать на запросы, изменяя своё состояние, при этом может быть встроено
        уведомление «наблюдателей».
    </p>
    <p>
        Модель, за счёт независимости от визуального представления, может иметь несколько различных представлений для
        одной «модели»
    </p>
</div>
