

<div >
    <h1 class="display-4">Model-View-Controller</h1>
    <div class="imageMVC">
    <img src="https://upload.wikimedia.org/wikipedia/commons/f/fd/MVC-Process.png" alt="">
</div>

    <p>Model-View-Controller (MVC, «Модель-Представление-Контроллер», «Модель-Вид-Контроллер») — схема разделения данных приложения и управляющей логики на три отдельных компонента: модель, представление и контроллер — таким образом, что модификация каждого компонента может осуществляться независимо.</p>
<ul>
    <li>Модель (Model) предоставляет данные и реагирует на команды контроллера, изменяя своё состояние.</li>
    <li>Представление (View) отвечает за отображение данных модели пользователю, реагируя на изменения модели.</li>
    <li>Контроллер (Controller) интерпретирует действия пользователя, оповещая модель о необходимости изменений.</li>
</ul>
</div>
