<div >
    <h1 class="display-4">View</h1>    

     <p>
        Представление отвечает за получение необходимых данных из модели и отправляет их пользователю. Представление не
обрабатывает введённые данные пользователя
    </p>
    
</div>
